.container{
  display: flex;
  justify-content: space-between;


}


form{
  margin-top: 15px;
  left      : 50%;
  top       : 50%;
  position  : absolute;
  transform : translate(-50%, -50%);
  /* background-color: antiquewhite; */
  width: 250px;
  height: 200px;
}
.links{
    padding: 0 16px;
      color: black;
      transition: color 0.4s ease 0s;
      text-decoration: auto;
    font-size: larger;
    margin-bottom: 5px;
}
.links:hover {
    background: -webkit-linear-gradient(#e3be5b, #e0a153);
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}