.container{
    display: flex;
    justify-content: space-between;

}

form{
    margin-top: 10%;
    /* left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -50%); */
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: rgb(73, 58, 160);
    position:absolute;
    margin: 10px;
   left: 46%;
}